- const talkTitle = "Welcome To PubConf"
- const siteURL = ""
- const description = "edit this description in _variables.pug"
- const defaultBG = "img/bg/robots-1.webp"
- const logo = "svg/event-logo-2.svg"