section
  section(data-auto-animate data-background-color="#771111")
    code The year will be...
    br
    code(data-id="TheYear" style="font-size:22dvw; line-height:80%") 2034
  section(data-auto-animate)
    code The year is...
    br
    code(data-id="TheYear" style="font-size:16dvw; line-height:80%") 2024
  section(data-auto-animate)
    code The year was...
    br
    code(data-id="TheYear" style="font-size:8dvw; line-height:80%") 2014
    figure.fragment
      img(src="img/pharrell-williams-happy-1920x1131.jpg")
  section(data-auto-animate)
    p #[strong Imagine] being "HAPPY" in 
    code(data-id="TheYear" style="font-size:18dvw; line-height:75%;") 2020
  //-section(data-auto-animate)
    figure
      img(src="img/pharrell-crying-1.webp")