section
  //- section(data-background-image="img/finals/keyboard-cat.jpg")
  //- section(data-background-image="img/finals/wheelchair-pool.jpg")
  //- section(data-background-image="img/finals/figure-prone.jpg")
  //- section(data-background-image="img/finals/butt-words.jpg")
  //- section(data-background-image="img/finals/crypto-eyes.webp")
  //- section(data-background-image="img/finals/shit-in-my-pants.jpeg" data-background-size="contain")
  //- section(data-background-image="img/finals/napster-bad.jpg")
  //- section(data-background-image="img/finals/banana-salami.jpg")
  //- section(data-background-image="img/finals/olsen-buscemi.jpg")
  //- section(data-background-image="img/finals/colorful-dinoaur.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/cthulhu.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/gumby-pokey.jpg" data-background-size="contain")
  //- section
  //-   img(src="img/finals/have-a-mouse.gif" style="min-width:40dvw; height:auto;")
  //- section(data-background-image="img/finals/strangelove.gif")
  //- section(data-background-image="img/finals/feminists.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/meatwad.png" data-background-size="contain")
  //- section(data-background-image="img/finals/vr-nerds.jpg")
  //- section(data-background-image="img/finals/not-sure-about-this.gif" data-background-size="contain")
  //- section(data-background-image="img/finals/real-vampires.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/piza.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/science-experiments.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/fishtank.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/workin-jerkin.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/stab-me.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/lightsaber-night.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/humans-are-dead.jpg" data-background-size="contain")
  //- section(data-background-image="img/finals/rorbot-is-traned.jpg" data-background-size="contain")
  
  section
    // BATTLE INTRO SLIDE
    .two-previews 
      .talk-preview
        .inside
          +speakerPic("Jennie Ocken")
          .details
            .inside-details
              .name Jennie Ocken
              .title.talk-title The Internet Is Getting Better
      .talk-preview
        .inside
          +speakerPic("Brandon Minnick")
          .details
            .inside-details
              .name Brandon Minnick
              .title.talk-title The Internet Is Getting Worse
  section
    // BETTER, SLIDE 1.1
    h3 In the beginning #[br] things weren't great.
  section(data-background-image="img/finals/aol-disc.jpg" data-background-size="contain")
    // BETTER, SLIDE 1.2
  section(data-background-image="img/finals/first-webpage.png")
    // BETTER, SLIDE 1.3
  section
    // WORSE, SLIDE 1.1
    h3 In the beginning #[br] things were great.
  section(data-background-image="img/finals/html-4-dummies.jpg" data-background-size="contain")
    // WORSE, SLIDE 1.2
  section(data-background-image="img/finals/filezilla.jpg" data-background-size="contain")
    // WORSE, SLIDE 1.3
  section(data-background-image="img/finals/js-logos.png")
    // BETTER, SLIDE 2.1
  section(data-background-image="img/finals/chart-good.jpg" data-background-size="contain")
    // BETTER, SLIDE 2.2
    h1 73%
  section(data-background-image="img/finals/crypto-eyes.webp")
    // BETTER, SLIDE 2.3
  section(data-background-image="img/finals/hypnospace-outlaw.jpg" data-background-size="contain")
    // WORSE, SLIDE 2.1
  section(data-background-image="img/finals/chart-bad.jpg" data-background-size="contain")
    h1 73%
    // WORSE, SLIDE 2.2
  section(data-background-image="img/finals/zuckerberg.jpg" data-background-size="contain")
    // WORSE, SLIDE 2.3
  section
    img(src="img/finals/have-a-mouse.gif" style="min-width:40dvw; height:auto;")
    // BETTER, SLIDE 3.1
  section(data-background-image="img/finals/fishtank.jpg" data-background-size="contain")
    // BETTER, SLIDE 3.2
  section(data-background-image="img/finals/wheelchair-pool.jpg")
    // BETTER, SLIDE 3.3
  section(data-background-image="img/finals/napster-bad.jpg")
    // WORSE, SLIDE 3.1
  section(data-background-image="img/finals/piza.jpg" data-background-size="contain")
    // WORSE, SLIDE 3.2
  section(data-background-image="img/finals/science-experiments.jpg" data-background-size="contain")
    // WORSE, SLIDE 3.3
  section(data-background-image="img/finals/vr-nerds.jpg")
    // BETTER, SLIDE 4.1
  section(data-background-image="img/finals/cthulhu.jpg" data-background-size="contain")
    // BETTER, SLIDE 4.2
  section(data-background-image="img/finals/rorbot-is-traned.jpg" data-background-size="contain")
    // BETTER, SLIDE 4.3
  section(data-background-image="img/finals/workin-jerkin.jpg" data-background-size="contain")
    // WORSE, SLIDE 4.1
  section(data-background-image="img/finals/lightsaber-night.jpg" data-background-size="contain")
    // WORSE, SLIDE 4.2
  section(data-background-image="img/finals/meatwad.png" data-background-size="contain")
    // WORSE, SLIDE 4.3