section

  // Turn Phrase Crew (Japan) vs Extreme Crew (Korea)
  +introScreen('m62SPPh9Nzc',217)
    aside.notes
      h2 Battle of the Year 2007
      p Turn Phrase Crew (Japan)
      p vs
      p vs Extreme Crew (Korea)