section(data-background="img/bg/cyberpunk-2-darker.webp")

  section
    .ten-previews
      +pubConfTalk("Jennifer Wadella")
      +pubConfTalk("Brandon Minnick")
      +pubConfTalk("Eldert Grootenboer")
      +pubConfTalk("D'arcy Lussier")
      +pubConfTalk("A Surprise Guest")
      +pubConfTalk("Neciu Dan")
      +pubConfTalk("Sarah Young")
      +pubConfTalk("Gabby Spurling")
      +pubConfTalk("Jennie Ocken")
      +pubConfTalk("Eli Holderness")