section(data-background="img/bg/cyberpunk-2-darker.webp")

  section
    .ten-previews

      +pubConfTalk("Ash Bzak")
      +pubConfTalk("Glenn Henriksen")
      +pubConfTalk("Eldert Grootenboer")
      +pubConfTalk("Brandon Minnick")
      +pubConfTalk("Jennifer Wadella")
      +pubConfTalk("D'arcy Lussier")
      +pubConfTalk("Gabby Spurling")
      +pubConfTalk("Sarah Young")
      +pubConfTalk("Neciu Dan")
      +pubConfTalk("Eli Holderness")