section
  section
    h1 Predictions

  section
    p As #[strong Google] quietly drops “Don't Be Evil” as their official slogan, many worry about their power as a dominant force in data brokerage and surveillance advertising.
    .fragment
      p Therefore #[strong Microsoft] gains the public trust as a privacy-first company.

  section
    p The rising popularity of the social media platform #[strong Twitter] is reversed as they lose a significant amount of their active users because of statements from their controversial CEO.
    .fragment
      p Twitter CEO #[strong Jack Dorsey] says “6 Fast & Furious movies is enough.”

  // Quick Hits

  section
    h2 More Predictions...

  section
    //-p Box office records are broken from James Franco's directorial debut #[strong Be Quiet About Sex]. Critics rave about the performances from Kevin Spacey and Bill Cosby, and it becomes Harvey Weinstein's most profitable film to date.
    p Another Hollwood reboot! This time it's #[strong 3 Men And A Baby] starring the always charming talents of James Franco, Kevin Spacey and Louis CK.
    p “Luc Besson is a magician behind the camera.” said producer Harvey Weinstein “He really made JK Rowling's screenplay come to life.”

  section
    p ALS (aka Lou Gehrig's disease) is cured forever thanks to the noble efforts of those doing #[strong The Ice Bucket Challenge].
  
  // Definitions

  section
    table

      thead
        tr
          td Acronym
          td Meaning
      tbody
        tr
          td
            strong FOMO
          td
            .fragment
              code Fans Of Messy Omelettes
        tr
          td
            .fragment
              strong YOLO
          td
            .fragment
              code You Own the Last Oldsmobile
        tr
          td
            .fragment
              strong GOAT
          td
            .fragment
              code Giggling Over an Absurd Taint
        tr
          td
            .fragment
              strong Rizz
          td
            .fragment
              code (short for “Risotto”)
        tr
          td(style="vertical-align:top")
            .fragment
              strong Slay!
          td
            .fragment
              code Come on over to my place and we'll listen to Slayer. But only the stuff before Seasons of the Abyss, because that album sucks!
            
  section
    .fragment
      figure
        img(src="img/37594.jpg" style="max-height:40dvh;")
    blockquote
      p “OK, Boomer!”
      cite You