section(data-background="img/bg/cyberpunk-2-darker.webp")

  section
    .two-previews
      +pubConfTalk("Sarah Young")
      //-+pubConfTalk("Ash Bzak")
  section
    .two-previews
      +pubConfTalk("Brandon Minnick")
      +pubConfTalk("Jennifer Wadella")
  section
    .two-previews
      +pubConfTalk("Eli Holderness")
      +pubConfTalk("Neciu Dan")
  section
    .two-previews
      +pubConfTalk("Glenn Henriksen",)
      +pubConfTalk("Gabby Spurling")
  section
    .two-previews
      +pubConfTalk("Eldert Grootenboer")
      +pubConfTalk("D'arcy Lussier")
