section(data-background="img/bg/cyberpunk-2-darker.webp")
  section
    .two-previews
      +pubConfTalk(
        "Sarah Young",
        "Mother of Shibes",
        ""
      )
      +pubConfTalk(
        "Ash Bzak",
        "UX Rapscallion",
        "According to TNG, it's less than 20 years to World War III"
      )
  section
    .two-previews
      +pubConfTalk(
        "Brandon Minnick",
        "Reads the F@*%ing Comments",
        "Humanity Achieves Peak Laziness"
      )
      +pubConfTalk(
        "Jennifer Wadella",
        "Angry Feminist Harpy",
        ""
      )
  section
    .two-previews
      +pubConfTalk(
        "Eli Holderness",
        "Professional Procrastinator",
        ""
      )
      +pubConfTalk(
        "Neciu Dan",
        "Señor Engineer",
        ""
      )
  section
    .two-previews
      +pubConfTalk(
        "Glenn Henriksen",
        "",
        "The Future is Reduced For Quick Sale"
      )
      +pubConfTalk(
        "Gabby Spurling",
        'Googling "How To Comedy"',
        ""
      )
  section
    .two-previews
      +pubConfTalk(
        "Eldert Grootenboer",
        "Herder of Cats",
        ""
      )
      +pubConfTalk(
        "D'arcy Lussier",
        "",
        ""
      )
