section
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("Sarah Young")
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("Brandon Minnick")
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("Neciu Dan")
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("A Surprise Guest")
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("Jennie Ocken")
  section(data-background="img/bg/cyberpunk-2-darker.webp") 
    .two-previews
      +pubConfTalk("D'arcy Lussier")
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("Jennifer Wadella")
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("Eli Holderness")
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("Gabby Spurling")
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("Eldert Grootenboer")
  section(data-background="img/bg/cyberpunk-2-darker.webp")
    .two-previews
      +pubConfTalk("Ash Bzak")