section  
  section(data-auto-animate)
    code(data-id="TheYear" style="font-size:8dvw; line-height:80%") 2014
    br
    code ...was a long time ago.
  section(data-auto-animate)
    br
    code(data-id="TheYear" style="font-size:8dvw; line-height:80%") 2014
    br
    code I looked like this...
    figure
      img(src="img/lemon_in_2014.jpg")
  section(data-auto-animate)
    code(data-id="TheYear" style="font-size:8dvw; line-height:80%") 2014
    br
    code I made this video to myself...
  section(data-background-video="video/lemon-in-2014.mp4")