section

  section(data-background=defaultBG)
    h2 Let's get this
    img.logo(src=logo)
    h2 started!
    
  section
    h2 What is PubConf?
    .fragment
      p Let me tell you a funny story... 
  
  section(data-background-image="img/notepadconf.png")

  section(data-background-image="img/notepadconf-2.png")