include partials/_variables.pug

doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  //// THE ORDER
    1. BEFORE SLIDES (autoplay, maybe a different deck)


    // THEN
    1. Hi, I'm Lemon
    2. I'm not Todd.
    3. I've won this a bunch of times before.
    4. Now I'm the host, and these are the speakers
    5. Each of them is an expert in their field.
    6. Each of them knows abut the Future
    7. Each of them will tell you about 2034
    8. And you might think 2034 won't look that different.


  .reveal
    .slides
    
      //include sections/_lineup.pug
      //include sections/_screenshot-these.pug

      /////////////////////////////////////////////////////////////
      // BEGIN THE PRE_SHOW.........
      include sections/_what-is-pubconf.pug
      include sections/_hello.pug
      include sections/_2034.pug
      include sections/_video_from_2014.pug
      include sections/_predictions.pug

      // THE RULES
      section

        section(data-auto-animate)
          h3 
            span(data-id="ThosePredictions") Those predictions were 
            span(data-id="Were") wrong.
        
        section(data-auto-animate)
          h3 
            span(data-id="ThosePredictions") Those predictions will be 
            span(data-id="Were") right.
        
        section(data-auto-animate)
          h3 
            span(data-id="ThosePredictions") Those predictions will be 
            span(data-id="Were" style="text-decoration: line-through; color:red;") right.
          h3
            span(style="padding-left:21ch;")  ^funny
        
        section 
          +showSpeakerGrid()

        section
          p #[strong Ignite Decks] about the year 2034.
        
        section(data-auto-animate)
          p(data-id="Have" style="text-shadow:1px 1px 1px black, -1px -1px 1px black;") #[strong They will have...]
          ul
            li 5 minutes
            li 20 slides
            li 15 seconds per slide
            .fragment
              li(data-id="PANIC") eyes filled with panic
              li a heart filled with regret
              
        section(data-auto-animate data-background-video="video/856227-hd_1920_960_24fps.mp4" data-background-video-loop)

        section(data-auto-animate)
          p(data-id="Have") #[strong You will have...] 
          ul
            li drinks & nosh provided by #[strong KCDC]
            li swag provided by Savas Labs
            li a show provided by TrackJS
            li (hopefully) a very good time indeed  
      include sections/_code-of-conduct.pug
      section
        section
          h4 THE AGENDA
          dl(style="width:100%; ")
            dt NOW...
            dd me showing you this slide.
            .fragment
              dt THEN...
              dd 5 minute looks into the year #[code 2034]
            .fragment
              dt THEN...
              dd you will vote for your two favorite talks
            .fragment
              dt THEN...
              dd the two favorites will face off in a #[strong head to head] match to crown a winner
            .fragment
              dt THEN...
              dd you'll go back to your hotel room.
      // SEGUE TO SPEAKERS
      section
        section(data-auto-animate)

          div And now, it's time for
          div(data-id="TheFuture")
            code(style="font-size:6ch") the future

        section(data-auto-animate)
          div 
            strong ERROR:
          br
          div(data-id="TheFuture")
            code(style="font-size:6ch; color:#ff2222") the future
          br
          code(data-id="TheFutureOtherText" style="font-size:6ch; line-height:50%; color:#ff2222") is undefined

      section
        section
          p And now to make it even more stressful...
          
          h4.blink Let's judge these people publicly!

        section
          p Go to...
          img(src="img/motherfucking-best.svg")
          p and vote for your #[strong two] favorites!
      
      include sections/_battle.pug

    include partials/_javascripts.pug 
    