include partials/_variables.pug

doctype html
head
  include partials/_head.pug
body  
  include partials/_mixins.pug

  .reveal
    .slides
      section
        section(data-background="img/bg/robots-1.webp" data-auto-animate)
          img(src="svg/event-logo-2.svg")
        section(data-background="img/bg/robots-2.webp" data-auto-animate)
          img(src="svg/event-logo-2.svg")
          p Get yourself a drink.
        section(data-background="img/bg/cyberpunk-2.webp" data-auto-animate)
          img(src="svg/event-logo-2.svg")
          p The show starts at 7:00pm
          p (unless Lemon gets distracted by something.)
        section(data-background="img/bg/art-deco-1.webp" data-auto-animate)
          img(src="svg/event-logo-2.svg")
          p Hey, have you visited SavasLabs.com ? Because our sponsors would like you to do that please.
        section(data-background="img/bg/blacklight.webp" data-auto-animate)
          img(src="svg/event-logo-2.svg")
        section(data-background="img/bg/isometric-1.webp" data-auto-animate)
          img(src="svg/event-logo-2.svg")
        section(data-background="img/bg/isometric-2.webp" data-auto-animate)
          img(src="svg/event-logo-2.svg")

      section
        section(data-auto-animate)
          code The year will be...
          br
          code(data-id="TheYear" style="font-size:25dvw") 2034
        section(data-auto-animate)
          code The year is...
          br
          code(data-id="TheYear" style="font-size:16dvw") 2024
        section(data-auto-animate)
          code The year was...
          br
          code(data-id="TheYear" style="font-size:6dvw") 2014
          figure.fragment
            img(src="img/pharrell-williams-happy-1920x1131.jpg")
        section(data-auto-animate)
          p #[strong Imagine] being "HAPPY" in 
          code(data-id="TheYear" style="font-size:18dvw; line-height:75%;") 2020
        section(data-auto-animate)
          code(data-id="TheYear" style="font-size:7dvw") 2004
          figure
            img(src="img/usher-yeah.jpg")
      
        section(data-auto-animate)
          figure
            img(src="img/pharrell-crying-1.webp")

    include partials/_javascripts.pug 
    